.App-header {
  padding: 20px;
  border-bottom: 1px solid gray;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.logo {
  font-size: 1.5em;
}

nav {
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h1 {
  margin: 0;
}

main {
  padding: 138px 20px 20px;
}


@media (max-width: 658px) {
  main {
    padding: 188px 20px 20px;
  }

  .MuiContainer-root {
    padding-left: 0 !important;
  }
}
